
# Created by https://www.gitignore.io/api/elisp
# Edit at https://www.gitignore.io/?templates=elisp

### Elisp ###
# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# End of https://www.gitignore.io/api/elisp
